/lazy-lock.json
/.clang-format
/lua/hondana-dev/*
!/lua/hondana-dev/**/
/lua/hondana-dev/utils/*
/lua/hondana-dev/plugins/*
!/lua/hondana-dev/plugins/**/
/lua/hondana-dev/plugins/optional/**
!/lua/hondana-dev/plugins/unchecked/**
# plugins/* will contain the fennel-generated lazy files
# plugins/unchecked/* will contain unverified lua lazy specs
/fnl/flsproject.fnl
/fnl/fennel.lua
/fnl/*health.log
/fnl/hondana-dev/private*
/fls-tests
