/lazy-lock.json
/lua/*
!/lua/**/
/lua/hondana-dev/*
!/lua/hondana-dev/**/
/lua/hondana-dev/plugins/*
!/lua/hondana-dev/plugins/**/
!/lua/hondana-dev/plugins/unchecked/**
# plugins/* will contain the fennel-generated lazy files
# plugins/unchecked/* will contain unverified lua lazy specs
