/lazy-lock.json
/.clang-format
/lua/hondana-dev/*
!/lua/hondana-dev/**/
/lua/hondana-dev/utils/*
/lua/hondana-dev/cosmetics/*
/lua/hondana-dev/plugins/*
!/lua/hondana-dev/plugins/**/
/lua/hondana-dev/plugins/optional/**
!/lua/hondana-dev/plugins/unchecked/**
/lua/hondana-dev/private*
/lua/overseer/template/*
# plugins/* will contain the fennel-generated lazy files
# plugins/unchecked/* will contain unverified lua lazy specs
/fnl/flsproject.fnl
/fnl/fennel.lua
/fnl/*health.log
/fnl/hondana-dev/private*
/fls-tests
# maintained by Tangerine by compiling
# - the files in /fnl/lsp
/lsp
# - the files in /fnl/after/lsp
/after/lsp
!/after/ftplugin/*.vim
/after/ftplugin
# current dev-only files
/init_dev.lua
/queries/zig_indents.scm
/after/queries/nix/highlights.scm
/after/syntax/new*.vim
dump.rdb
