*~
**.\#*
**\#*
*.elc
/2013-scripts/el-get/**/*
/auto-save-list/
/.org-id-locations
/ac-comphist.dat
/elpa/*
/transient/*
/history
/places
/recentf
/viper
/custom.el
/image-dired/
/oauth2.plstore
/session.*
/tramp
/url/
/var/
